<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/769e513ac4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body> 
    <div class="container">
        <h1 id="head">Login/Signup to Chappo.com</h1>
        <button class="btn" onclick="login()">Login</button>
        <button class="btn" onclick="signup()">Signup</button>
        
        <div id="loginbox" class="box">
            <h1>Login</h1>
            <form action="/login" method="post">
                <input type='email' name="emailid" placeholder="UserId" autocomplete="on" required>
                <input type='password' name="password" placeholder="password" autocomplete="on" required>
                <input type="submit" value="Login" size="1"/>
            </form>
        </div>
        <div id="signupbox" class="box">
            <h1>Signup</h1>
            <form action="/signup" method="post">
                <input type='email' name="emailid" placeholder="Type your Email Id" autocomplete="on" required>
                <input type='password' name="password" placeholder="Set your Password" autocomplete="on" required>
                <input type="submit" value="SignUp" size="1"/>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/invalidEmail.js"></script>
</body>
</html>