<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chappo.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img class="logo" src="../static/logo.png" alt="">
          Welcome to Chaapo!!!
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About-us</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <h1 id="heading_yash">About us</h1>
    <p id="headingpara_yash">We the team of four members Yash Patel,Yash Joshi,Shourya and Aditya worked together on our website chappo.com.The aim to create the website is to help the IITR junta with the best food of IITR.As a fresher when we arrived at campus we are confused between different canteens,cafe and restraunts where to go and where not.</p>
    <div class="container_yash">
        <h1>Yash Patel</h1>
        <p>Yash Patel has contributed mainly in frontend with html and css and also done  contributions in backend.</p>
    </div>
    <div class="container_yash">
        <h1>Shourya</h1>
        <p>Shourya has taken the responsiblity of java-script.He has major contribution in backend.</p>
    </div>
    <div class="container_yash">
        <h1>Yash Joshi</h1>
        <p>Yash Joshi has contributed in frontend with html and css and also done  contributions in backend.</p>
    </div>
    <div class="container_yash">
        <h1>Aditya Aren</h1>
        <p>The hosting of the website is mainly done by Aditya.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>