/* css reset */
*{ 
    margin:0px 0px;
    padding:0px 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
/* navigation bar */
body{
    padding-top: 70px;
}

#heading_yash{
    font-size: 3rem;
    text-align: center;
    padding: 10px 10px;
    color:orangered;

}
#headingpara_yash{
    font-size: 2rem;
    text-align: center;
    padding:10px 10px;
    color:rgb(235, 104, 43);
}
.container_yash{
    /* border:3px solid black; */
    margin:10px 10px; 
    padding:10px 10px; 
    height: 110px;
    background: transparent;
    margin:5px 10vw;
    /* border-radius: 20px; */
}
.container_yash::before{
    content:"";
    width:80vw; 
    height:110px;
    position:absolute;
    background-color: rgb(72, 64, 57);
    opacity:0.6;
    z-index:-3;
    border-radius: 10px;
    padding:10px 10px;
    /* margin:5px 5px; */
}
.container_yash h1{
    font-size:1.5;

}
.container_yash p{
    font-size: 1.5;
}
