/* css reset */
*{ 
    margin:0px 0px;
    padding:0px 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position:relative;
    justify-content: center;
    top:0;
    /* border:2px solid black; */
}
/* navigation bar logo and image */
#logo img{
    border:2px solid rgb(33, 61, 246);
    margin:0px 0px;
    padding:0px 0px;
    height:67px;
    border-radius: 53px;
}
#navbar ul{
    display:flex;

}
#navbar ul li{
    list-style: none;

    
}
#navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    padding:0px 34px;
    margin:0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#navbar ul li a:hover{
    color:wheat;
}
#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.3;
}
/* intro section */
#intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding:20px 4px;
     height:300px; 
}
#intro a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
#intro a:hover{
    color: wheat;
    text-decoration: underline;
}
#intro h1{
    font-size: 3rem;
    font-family: cursive;
    padding:40px 5px;
    text-align: center;
    color: white;
}
#intro p{
    font-size: 1.7rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding:10px 3px;
    color: white;
}
#intro::before{
    content:"";
    background: url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -4;
    opacity: 0.9;
}
/* search section */
#search{
    position:relative;
    height: 500px;
    /* border:2px solid black; */
    margin-top:100px;
    
    
}
#search::before{
    content:"";
    background:url('bg.jpg') no-repeat center center/cover;
    position:absolute;
    
    width:100%;
    height:100%;
    z-index:-3;
    opacity:1;
}
#search h1{
    text-align: center;
    margin:0px 0px;
    padding:18px 5px;
    font-size: 2rem;
    color:brown;
}
#searchbox{
    
    height:400px;
    width:75%;
    border:3px solid black;
    margin:0px auto; 
    padding: 0px 0px;

    border-radius: 20px;
    box-shadow: 4px 4px 30px rgb(62, 62, 62);
    padding:20px;
    overflow-y: scroll;
    

}
#searchbox form{
    width:100%;
    border:1px solid black;
    border-radius: 4px;
    background-color: white;
}
#searchbox form input{
    border:none;
    outline:none;
    box-shadow: none;
    width:90%;
    font-size: 1.4rem;
    
    
}
.itemlist{
    padding:5px 0px;
    

}

.p-details{
    background-color: white;
    margin:5px 10px;
    border:2px solid black;
    padding:5px 5px;
    border-radius: 10px;
}
.p-details p{
    display: inline;
    font-size: 1.3rem;
}
#foodarena{
    position:relative;
    height: 900px;
    /* border:2px solid black;  */
    /* margin-top:130px; */
    
    
}
#foodarena::before{
    content:"";
    background:url('bg2.jpg') no-repeat center center/cover;
    position:absolute;
    
    width:100%;
    height:100%;
    z-index:-2;
    opacity:0.8;
}
#foodarena h1{
    text-align: center;
    font-size: 2rem;
    padding:10px 10px;
    color: blueviolet;
}
#cardcontainer{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    border:2px solid black;
    width: 90%;
    height: 85%;
    margin:0px auto;
    padding:20px 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 30px rgb(62, 62, 62);
    overflow-y: scroll;
}
.carditems img{
    display: block;
    width:200px;
    height:200px;
    margin: 0px auto;
    border:2px solid purple;
    border-radius:10px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:300px;
    width:300px;
    border:2px solid purple;
    padding: 5px 5px;
    border-radius: 10px;
}
.cards a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}



